// @import '~@cleartrip/bento/src/scss/index.scss';

@import 'vendor/reset';

@import 'helpers/mixins/index';

::-moz-selection { /* Code for Firefox */
  color: #333;
  background: #FFFBD7;
}

::selection {
  color: #333;
  background: #FFFBD7;
}


body {
  min-height: 100vh;
  font: caption;
  background-color: #fafafa;
}



.content {
  padding: 32px 0;
  padding-right: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  h1 {
    font-size: calculateRem(32px);
    line-height: calculateRem(44px);
    margin-bottom: calculateRem(16px);
    font-weight: 600;
  }

  h2 {
    font-size: calculateRem(24px);
    line-height: calculateRem(32px);
    margin-bottom: calculateRem(16px);
    margin-top: calculateRem(54px);
    font-weight: 600;
  }

  ul, ol {
    font-size: calculateRem(16px);
    line-height: calculateRem(24px);
    margin-bottom: calculateRem(16px);
    padding-left: calculateRem(16px);
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-bottom: calculateRem(4px);
  }

  p {
    font-size: calculateRem(16px);
    line-height: calculateRem(24px);
    margin-bottom: calculateRem(16px);

    &:first-of-type {
      font-size: calculateRem(20px);
      line-height: calculateRem(28px);
      font-weight: 400;
      margin-bottom: calculateRem(40px);
    }
  }

  code {
    // background-color: #F7FBFF;
    // color: #3366cc;
    // border: solid 1px #D6E8FC;

    background-color: #FFF9F5;
    color: #FF3C2B;
    border:solid 1px #FFE5D4;
    font-family: 'SF Mono', monospace;
    font-size: calculateRem(14px);
    font-weight: 500;
    padding: 2px 4px;
    border-radius: 4px;
  }

  img {
    display: block;
    max-width: 100%;
    margin: auto;
    z-index: 11;
  }

  img.zoomable {
    cursor: zoom-in;
  }

  img.zoomed {
    margin: auto;
    cursor: zoom-out;
  }
}


.frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: rgba(255, 255, 255, 0.95);
  transform: translateZ(0);
  z-index: 10; // to make it cover the header
}

.wc-transform {
  will-change: transform;
  transition: transform 280ms ease-in-out;
}

.hover\:translate {
    &:hover {
      transform: translate3d(2px,0,0) !important;
    }
}