// @import '~@cleartrip/bento/src/scss/index.scss';

@import 'vendor/reset';

@import 'helpers/mixins/index';

::-moz-selection { /* Code for Firefox */
  color: #333;
  background: #FFFBD7;
}

::selection {
  color: #333;
  background: #FFFBD7;
}


body {
  min-height: 100vh;
  font: caption;
  background-color: #fafafa;
}



.content {
  padding: 32px 0;
  padding-right: 100px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  strong {
    font-weight: 600;
  }

  em {
    font-style: italic;
  }

  h1 {
    font-size: calculateRem(32px);
    line-height: calculateRem(44px);
    margin-bottom: calculateRem(16px);
    font-weight: 600;
  }

  h2 {
    font-size: calculateRem(24px);
    line-height: calculateRem(32px);
    margin-bottom: calculateRem(16px);
    margin-top: calculateRem(54px);
    font-weight: 600;
  }

  ul, ol {
    font-size: calculateRem(16px);
    line-height: calculateRem(24px);
    margin-bottom: calculateRem(16px);
    padding-left: calculateRem(16px);
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-bottom: calculateRem(4px);
  }

  p {
    font-size: calculateRem(16px);
    line-height: calculateRem(24px);
    margin-bottom: calculateRem(16px);

    &:first-of-type {
      font-size: calculateRem(20px);
      line-height: calculateRem(28px);
      font-weight: 400;
    }
  }

  code {
    background-color: #F7FBFF;
    color: #3366cc;
    border: solid 1px #D6E8FC;
    font-family: 'SF Mono', monospace;
    font-size: calculateRem(14px);
    padding: 2px 4px;
    border-radius: 4px;
  }

  img {
    max-width: 100%;
  }
}