.propRow {
  padding: 12px 0;
  border-bottom: solid 1px #e6e6e6;
}

.propName {
  font-size: 14px !important;
  margin: 0 12px 0 0 !important;
  font-weight: 600;
}

.propSwitcher {
  width: 230px;
}


.live {
  background-color: #1b2438;
  padding: 12px 12px 0 12px;
  border-radius: 4px;
  margin: 10px 0;

  & .react-live {
    position: relative;
  }

  & .react-live-preview {
    white-space: normal;
    padding: 20px;
    border-radius: 2px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .prism-code {
    padding: 8px 0;
    background: #1b2438;
    overflow-x: auto;
    font-family: monospace;
    border-top-width: 0;
    border-radius: 0 0 3px 3px;
  }
  & .react-live-error {
    color: red;
    padding: 5px;
  }
}