.propRow {
  padding: 12px 0;
  border-bottom: solid 1px #e6e6e6;
}

.propName {
  font-size: 14px !important;
  margin: 0 12px 0 0 !important;
  font-weight: 600;
}

.propSwitcher {
  width: 230px;
}